<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container autosize class="example-container">
  <mat-drawer opened #drawer class="example-sidenav" mode="side">
    <nav>
      <mat-toolbar>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/home" routerLinkActive="active">
            <a>Home</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/customers" routerLinkActive="active">
            <a>Kunden</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button class="sidenav-button" mat-button routerLink="/admin" routerLinkActive="active">
            <a>Admin</a>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
  </mat-drawer>
  <app-kbs-title></app-kbs-title>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</mat-drawer-container>
